<ion-view view-title="Create View User">
    <ion-content class="md">
        <div class="content double-padding">
        <div class="v-class">
            <div class="row row-center">
                <div class="col col-25 col-offset-25">
                    <button class="button item-note button-block button-assertive button-large ">
 <i class="icon ion-drag"></i>
                        View Customer
                    </button>
                </div> 
                <div class="col col-25">
                    <button class="button item-note button-block button-balanced button-large">
                       <i class="icon ion-happy-outline"></i> Create Customer
                    </button>
                </div>
            </div>
        </div></div>
    </ion-content>
</ion-view>
