<ion-view view-title="Manage">
    <ion-content>
        <div class="bar bar-header bar-light">
            <h1 class="title">bar-light</h1>
        </div>
        <div class="bar bar-subheader bar-secondary">
            <h2 class="title">Customer Admin</h2>
        </div>
        <div class="content has-header has-subheader">
             
            <label class="item item-input item-stacked-label">
                <span class="input-label">Comments</span>
                <textarea placeholder="Your comments"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mantra</span>
                <textarea placeholder="Type your Mantra and comments"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email To</span>
                <input type="email" placeholder="Type email of recepient">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile</span>
                <input type="number" placeholder="Type number only">
            </label>
            <div class="row">
                <div class="col col-100">
                    <button class="button button-assertive "><i class="icon ion-ios-chatboxes-outline"></i> Send SMS</button> 
                    <button class="button button-assertive item-note "><i class="icon ion-paper-airplane"></i> Send Mail</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
