<ion-view view-title="Manage">
    <ion-content>
        <div class="bar bar-header bar-light">
            <h1 class="title">bar-light</h1>
        </div>
        <div class="bar bar-subheader bar-secondary">
            <h2 class="title">Customer Contact</h2>
        </div>
        <div class="content has-header has-subheader">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Comments</span>
                <textarea placeholder="Your comments"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mantra</span>
                <textarea placeholder="Type your Mantra and comments"></textarea>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email To</span>
                <input type="email" placeholder="Type email of recepient">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile</span>
                <input type="text" placeholder="Mobile Number 0-9">
            </label>
            <button class="button button-balanced button-block button-assertive">
               <i class="icon ion-android-call"></i> Call
            </button>
            <button class="button button-block button-calm"><i class="icon ion-ios-chatboxes-outline"></i> Send SMS</button>
            <button class="button button-assertive item-note button-block"><i class="icon ion-paper-airplane"></i> Send Mail</button>
        </div>
        </div>
    </ion-content>
</ion-view>
