<ion-view view-title="Home">
    <ion-content>
        <div class="content double-padding">
            <div class="row">
                <div class="col col-offset-100">
                    <div class="item item-icon-left">
                        <i class="icon ion-person"></i>Customer ID: Tn0001
                        <span class="item-note"> Date: mm/dd/yyyy</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Name</span>
                        <input type="text" placeholder="Type customer name ">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Rasi</span>
                        <input type="text" placeholder="Type Rasi">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nakshatra</span>
                        <input type="text" placeholder="Type Nakshatra">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Lagna</span>
                        <input type="text" placeholder="Type Lagna">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Date of Birth</span>
                        <input type="date" placeholder="Select Date of Birth">
                    </label>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper item-stacked-label">
                            <span class="input-label">Time of Birth</span>
                            <input type="time" placeholder="Choose Time of Birth">
                        </label>
                        <div class="input-label  item-stacked-label">
                            &nbsp;
                        </div>
                        <select>
                            <option>AM</option>
                            <option selected>PM</option> 
                        </select>
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Place of Birth</span>
                        <input type="text" placeholder="Type Your Birth Place">
                    </label>
                    <hr>
<label class="item item-input item-stacked-label">
<span class="input-label">Address</span>
    <textarea placeholder="Type your Address"></textarea>
  </label>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
