<ion-view view-title="Home">
    <ion-content>
        <div class="content ">
            <div class="row">
                <div class="col">
                    <div class="item item-icon-left">
                        <span class="item-note"> Date: mm/dd/yyyy</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label high-light">
                        <span class="input-label">Payment Note</span>
                        <input type="text" placeholder="Payment Note here">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="item item-icon-left">
                        <i class="icon ion-person"></i>Customer ID: Tn0001
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Name</span>
                        <input type="text" ng-model="addData.name" placeholder="Type customer name ">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Rasi</span>
                        <input type="text" ng-model="addData.rasi" placeholder="Type Rasi">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nakshatra</span>
                        <input type="text" ng-model="addData.nakshatra" placeholder="Type Nakshatra">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Lagna</span>
                        <input type="text" ng-model="addData.lagna" placeholder="Type Lagna">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Date of Birth</span>
                        <input type="date" ng-model="addData.dob" placeholder="Select Date of Birth">
                    </label>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper item-stacked-label">
                            <span class="input-label">Time of Birth</span>
                            <input type="time" ng-model="addData.dob" placeholder="Choose Time of Birth">
                        </label>
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Place of Birth</span>
                        <input type="text" ng-model="addData.pob" placeholder="Type Your Birth Place">
                    </label>
                    <hr>
                    <label class="item item-input item-stacked-label">
                        <textarea ng-model="addData.pob" placeholder="Type your Address"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile</span>
                        <input type="text" ng-model="addData.pob" placeholder="Type Your Mobile Number only 0-9">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Landline No</span>
                        <input type="text" ng-model="addData.pob" placeholder="Type Landline Number not mantatory">
                    </label>
                    <hr>
                    <label class="item item-input item-stacked-label">
                        <div class="row no-pad">
                            <span class="input-label" ng-model="addData.pob">Pariharam 1</span>
                        </div>
                        <span class="input-label">Note</span>
                        <textarea ng-model="addData.pob" placeholder="Type your Comments here"></textarea>
                        <div class="row no-pad">
                            <div class="col col-50">
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">Start date</span>
                                    <input type="date" ng-model="addData.pob" placeholder="Type Your Start Date">
                            </div>
                            <div class="col col-50">
                                <label class="item item-input item-stacked-label">
                                    <span class="input-label">End date</span>
                                    <input type="date" ng-model="addData.pob" placeholder="Type Your End Date">
                            </div>
                        </div>
                        </label>
                        <div class="row">
                            <div class="col col-100">
                                <button class="button ion-android-add button-assertive item-note">Add</button>
                            </div>
                        </div>
                        <hr>
                        <label class="item item-input  item-stacked-label">
                            <span class="input-label">Appointment Date</span>
                            <input type="Date" ng-model="addData.pob" placeholder="Next Appointment Date">
                        </label>
                        <div class="row">
                            <div class="col col-100">
                                <button class="button button-assertive button-small item-note">Edit/Change Date</button>
                            </div>
                            </label>
                            <div class="row">
                                <div class="col">
                                    <button class="button ion-android-add button-assertive item-note">Add</button>
                                </div>
                            </div>
                            <hr>
                            <label class="item item-input  item-stacked-label">
                                <span class="input-label">Appointment Date</span>
                                <input type="Date" placeholder="Next Appointment Date">
                            </label>
                            <div class="row">
                                <div class="col">
                                    <button class="button button-assertive button-small item-note">Edit/Change Date</button>
                                </div>
                            </div>
                            <hr>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Custom Label</span>
                                <textarea placeholder="Custom Note"></textarea>
                            </label>
                            <div class="row">
                                <div class="col">
                                    <button class="button ion-android-add button-assertive item-note">Add</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-center ">
                                    <button class="button button-balanced">Process Completed</button>
                                </div>
                            </div>
                            <hr>
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Mantra</span>
                                <input type="textarea" placeholder="Type your Mantra">
                            </label>
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    Yantra
                                </div>
                                <select>
                                    <option>no-yantra</option>
                                    <option>Lakshmi Yantra</option>
                                    <option selected>Yantra one</option>
                                    <option>Yantra two</option>
                                </select>
                            </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
