<ion-view view-title="Home">
    <ion-content>
        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Lagna Chart box</h1>
                </ion-header-bar>
                <ion-content class="padding">
                    <div class="list ionic bor">
                        <div class="row">
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 1">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 2">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 3">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 4">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 12">
                                </label>
                            </div>
                            <div class="col col-25 col-offset-50">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 5">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 11">
                                </label>
                            </div>
                            <div class="col col-25 col-offset-50">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 6">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 10">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 9">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 8">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 7">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-100">
                                <div class="item item-input-inset">
                                    <label class="item-input-wrapper">
                                        <input type="number" placeholder="Lagna box number">
                                    </label>
                                    <button class="button button-small button-balanced">
                                        Lagna
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-100">
                                <button class="button item-note button-assertive">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
        <div class="row">
            <div class="col col-100">
                <button class="button item-note button-assertive" ng-click="openModal()">
                    Edit
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col col-100">
                <img src="chart.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>
