<ion-view view-title="Home">
    <ion-content>
        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Lagna Chart box</h1>
                </ion-header-bar>
                <ion-content class="padding">
                    <div class="list ionic bor">
                        <div class="row">
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 1" ng-model="lagnaForm.first">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 2" ng-model="lagnaForm.second">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 3" ng-model="lagnaForm.third">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 4" ng-model="lagnaForm.fourth">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 12" ng-model="lagnaForm.twelve">
                                </label>
                            </div>
                            <div class="col col-25 col-offset-50">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 5" ng-model="lagnaForm.fifth">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 11" ng-model="lagnaForm.eleven">
                                </label>
                            </div>
                            <div class="col col-25 col-offset-50">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 6" ng-model="lagnaForm.sixth">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 10" ng-model="lagnaForm.tenth">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 9" ng-model="lagnaForm.ninth">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 8" ng-model="lagnaForm.eighth">
                                </label>
                            </div>
                            <div class="col col-25">
                                <label class="item item-input">
                                    <input type="text" placeholder="box 7" ng-model="lagnaForm.seventh">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-100">
                                <div class="item item-input-inset">
                                    <label class="item-input-wrapper">
                                        <input type="number" placeholder="Lagna box number" ng-model="lagnaForm.lagna">
                                    </label>
                                    <button class="button button-small button-balanced">
                                        Lagna
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-100">
                                <button class="button item-note button-assertive" ng-click="saveLagnaChart()">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
        <div class="row">
            <div class="col col-100">
                <button class="button item-note button-assertive" ng-click="openModal()">
                    Edit
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col col-100">
                <img src="chart.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>
