<ion-view view-title="New Sign in">
    <ion-content>
        <div class="bar bar-header bar-light">
            <h1 class="title">bar-light</h1>
        </div>
        <div class="content">
            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Name</span>
                        <input type="text" ng-model="addData.name" placeholder="Your name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">email</span>
                        <input type="text" ng-model="addData.email" placeholder="email">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile</span>
                        <input type="text" ng-model="addData.mobile" placeholder="Mobile number">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Password</span>
                        <input type="text" ng-model="addData.Password" placeholder="Password">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Confirm Password</span>
                        <input type="text" ng-model="addData.Password" placeholder="Password">
                    </label>
                    <div class="row">
                        <div class="col col-100">
                            <button class="button  button-assertive item-note">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
