<ion-view view-title="Create View User">
    <ion-content class="md">
        <div class="content double-padding">
            <div class="v-class">
                <div class="row row-center">
                    <div class="col">
                        <button class="button item-note button-block button-assertive button-large ">
                            <i class="icon ion-briefcase"></i> Backup
                        </button>
                    </div>
                </div>
                <div class="row row-center">
                    <div class="col">
                        <button class="button item-note button-block button-balanced button-large">
                            <i class="icon ion-archive"></i> Restore Backup
                        </button>
                    </div>
                </div>
                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                        English-Default
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                        Tamil
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
