<ion-view view-title="View List">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">View List</strong>
        </div>
        <div class="row">
            <div class="col id">
                <a class="item row" href="#">
                    <div class="col col-50">
                        <h2 class="spacer-right el">Santhosh Kumar </h2>
                        <span class="spacer-right">ID: AD1088</span>
                    </div>
                    <div class="col col-50">
                        <p><span class="item-note">
                         Date: 18/12/2017
                        </span></p>
                        <span class="item-note">
                         Rasi: <strong>Kumba</strong>
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col id">
                <a class="item row" href="#">
                    <div class="col col-50">
                        <h2 class="spacer-right el">Santhosh Kumar </h2>
                        <span class="spacer-right">ID: AD1088</span>
                    </div>
                    <div class="col col-50">
                        <p><span class="item-note">
                         Date: 18/12/2017
                        </span></p>
                        <span class="item-note">
                         Rasi: <strong>Kumba</strong>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
